html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #2CBAE7;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #2CBAE7;
  color: #4d4d4d;
  height: 100vh;
  width: 100%;
  margin: auto;

  * {
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  .page {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    &.horizontal {
      flex-direction: row;
    }
  }
}
